# ----- BACKEND -----

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/

# NuGet packages
*/packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NCrunch
_NCrunch_*

# Visual Studio 2017/2019 cache/options directory
.vs/

# Rider
.idea/

# User-specific files
*.user
*.suo
*.sln.docstates
*.cache

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual Studio code coverage
*.coverage
*.coveragexml

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# ReSharper
_ReSharper*/

# JustCode
.JustCode

# Azure
*.deployment

# Flutter
.buildinfo
.packages
.pub-cache
.dart_tool

# Files for debugging Visual Studio Code
.vscode/
launch.json


# ----- FRONTEND -------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js dependencies
node_modules/

# Build artifacts
/dist/
/.nuxt/
/nuxt.config.js
/*.log

# Environment variables
.env*

# IDE and editor settings
.vscode/
.idea/
*.code-workspace

# Other build tools
/.cache/
/yarn-error.log
/.yarn/cache/
